# Visual Studio
.vs/
.vsconfig
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
ipch/
*.VC.db
*.suo
*.user
*.userosscache
*.sln.docstates

# UE5
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Script/
Build/
.idea/

# 大文件
*.pdb
*.ilk
*.exe
*.dll
*.lib

# 临时文件
*.tmp
*.temp
*.log
